---
layout: null
---

body {
  padding-left: 200px;
  padding-right: 200px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 20px;
  color: white;
  background-color: #373737;
}
a {
  color: #008AFF;
}
code {
  color: black;
  background-color: white;
  padding: 4px 4px;
  border-radius: 4px;
}
h1,h2,h3,h4,h5,h6 {
  color: white;
}
.hideme {
color: #373737;
}
blockquote {
  color: #808080;
  font-style: italic;
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}